################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SteamLine/bin/Debug/netcoreapp3.1
/.vs
/SteamLine/obj
/StreamLineTest/obj
